<div class="sidebar">
  <img src="../../../assets/logo.png" class="logo">
  <div *ngIf="(name !== '' && surname !== '')" class="text-center">
    <h6>Witaj {{name}} {{surname}}!</h6>
    <button (click)="wyloguj()" class="btn btn-primary">Wyloguj się</button>
  </div>
  <hr>
  <nav>
    <ul> 
      <!-- <li [routerLink]="'admin/lista'" [routerLinkActive]="'active'">Admin</li> -->
      <li [routerLink]="'pacjent/rejestracja'" [routerLinkActive]="'active'">Rejestracja</li>
      <!-- <li [routerLink]="'admin/dodaj'" [routerLinkActive]="'active'">Dodaj lekarza</li> -->
      <li [routerLink]="'pacjent/panel'" [routerLinkActive]="'active'">Moje Wizyty</li>
      <li [routerLink]="'test'" [routerLinkActive]="'active'">Admin Panel</li>
    </ul>
  </nav>
</div>