<div class="container">
  
  <my-header>
    <div headerContent>
      Panel administracyjny
    </div>
  </my-header>
  
  <add-new-doctor (doctorCreated)="dodajLekarza($event)"></add-new-doctor>

  <div class="row">
    <div class="col-sm-12">
      <table *ngIf="doctorsTab.length > 0" class="table table-striped my-table">
        <thead>
          <tr>
            <th>doktor id</th>
            <th>Imie</th>
            <th>Nazwisko </th>
            <th>Specjalizacja</th>
            <th>Miasto</th>
            <th>Sprawdź grafik</th>
            <th>Akcje</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lekarz of doctorsTab; let i = index">
            <td>{{ lekarz.id }} | angularIndex = {{ i }}</td>
            <td>{{ lekarz.name }}</td>
            <td>{{ lekarz.surname }}</td>
            <td>{{ lekarz.spec }}</td> 
            <td>{{ lekarz.city }}</td> 
            <td> Tu bedzie button grafik </td>
            <td>
              <button class="btn">Edytuj</button>
              <button (click)="usunLekarza(lekarz)" class="btn">Usun</button>
            </td>
          </tr>
        </tbody>
      </table>
      
      <div class="no-doctors-info" *ngIf="doctorsTab.length == 0">
        <p>Brak lekarzy w bazie</p>
      </div>
    </div>
  </div>
</div>
