<div class="container">

  <h1>Rejestracja</h1>
  <form [formGroup]=registerForm>
    <div class="form-group">
      <input formControlName="login" class="form-control" placeholder="Login">
      <input formControlName="password" class="form-control" placeholder="Password">
      <!-- <input formControlName="passwordAgain" class="form-control" placeholder="Password Again"> -->
      <input formControlName="name" class="form-control" placeholder="Imie">
      <input formControlName="surname" class="form-control" placeholder="Nazwisko">
      <button (click)="sprawdzLogin()" class="btn btn-primary">Zaloz konto</button>
      <button (click)="zalogujNavigate()" class="btn">Przejdz do strony logowania</button>
    </div>
  </form>

</div>
<pre>
  login: {{ this.registerForm.get('login').value }}
  password: {{ this.registerForm.get('password').value }}
  <!-- passwordAgain: {{ this.registerForm.get('passwordAgain').value }} -->
  name: {{ this.registerForm.get('name').value }}
  surname: {{ this.registerForm.get('surname').value }}
  value: {{ this.registerForm.value }} 
</pre>