<div class="container-fluid">



  <hr>
  <button (click)="test()" class="btn btn-danger">Test()</button>
  <button class="btn btn-success" (click)="utworzTabeleWolnychTerminowLekarzy()">Zaladuj wolne terminy</button>
  <button class="btn btn-success" (click)="zbudujWartosciFormularza()">Zaladuj formularz</button>
  <hr>
  <hr>
  <h1 class="text-center">Wyszukiwanie wolnego terminu</h1>
   <form *ngIf="dostepneMiasta.length > 0" [formGroup]="searchForm"> 
    <div class="form-group">
      <label>Specjalizacja</label>
      <select class="form-control" formControlName="spec"> 
        <option *ngFor="let specjalizacja of dostepneSpecjalizacje">{{ specjalizacja }}</option>
      </select>

      <label>Miasta</label>
        <div class="checkbox" [formGroup]="searchForm.get('cities')">
          <label *ngFor="let miasto of dostepneMiasta">
            <input (click)="walidujMiasta()" type="checkbox" formControlName={{miasto}} class="checkCity" id="foo"> {{ miasto }}
          </label>
        </div>

      <label>Data od</label>
      <input type="date" class="form-control" formControlName="dataStart">

      <label>Data do</label>
      <input type="date" class="form-control" formControlName="dataStop">
    </div>
    <button (click)="szukajTerminu()" class="btn btn-primary" [disabled]="searchForm.invalid || miastaInvalid">Szukaj wolnego terminu</button>
  </form>

    <pre>
    spec: {{ searchForm?.get('spec').value }}  
    <!-- cities. wrocław: {{ searchForm?.get('cities').get('Wrocław').value }}       -->
    dataStart: {{ searchForm?.get('dataStart').value }}   
    dataStop {{ searchForm?.get('dataStop').value }}     
  </pre>     









  <hr>
  <h1 *ngIf="wolneTerminyTab.length > 0">
    Wolne terminy (po wyszukiwaniu)
  </h1>
  <table class="table table-striped" *ngIf="wolneTerminyTab.length > 0">
    <thead>
      <tr>
        <th>Data</th>
        <th>Start</th>
        <th>Stop</th>
        <th>Wolny</th>
        <th>Id</th>
        <th>Id Lekarza</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Specs</th>
        <th>Miasto</th>
        <th>Akcje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let terminZLekarzem of wolneTerminyTab | sortujTerminy">
        <td>{{ terminZLekarzem.data }}</td>
        <td>{{ terminZLekarzem.start }}</td>
        <td>{{ terminZLekarzem.stop }}</td>
        <td>{{ terminZLekarzem.wolny }}</td>
        <td>{{ terminZLekarzem.id }}</td>
        <td>{{ terminZLekarzem.idLekarza }}</td>
        <td>{{ terminZLekarzem.name }}</td>
        <td>{{ terminZLekarzem.surname }}</td>
        <td>{{ terminZLekarzem.specs }}</td>
        <td>{{ terminZLekarzem.miasto }}</td>
        <td>
          <button (click)="zapisNaWizyte(terminZLekarzem.id)" class="btn btn-success">Zapis na wizytę</button>
        </td>
      </tr>
    </tbody>
  </table>


  <hr>
  <h1 class="text-center">
    Tabela wolnych terminow z lekarzami (polaczona)
    <button (click)="showTerminyZLekarzamiTab = !showTerminyZLekarzamiTab" class="btn btn-info">
      {{ showTerminyZLekarzamiTab === true ? 'ukryj' : 'pokaz' }}
    </button>
  </h1>
  <table class="table table-striped" *ngIf="terminyZLekarzamiTab.length > 0 && showTerminyZLekarzamiTab === true">
    <thead>
      <tr>
        <th>Data</th>
        <th>Start</th>
        <th>Stop</th>
        <th>Wolny</th>
        <th>Id</th>
        <th>Id Lekarza</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Specs</th>
          <!-- <th>Cities</th>  spr, tak bylo, zle  -->
        <th>Miasto</th>  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let terminZLekarzem of terminyZLekarzamiTab | sortujTerminy">
        <td>{{ terminZLekarzem.data }}</td>
        <td>{{ terminZLekarzem.start }}</td>
        <td>{{ terminZLekarzem.stop }}</td>
        <td>{{ terminZLekarzem.wolny }}</td>
        <td>{{ terminZLekarzem.id }}</td>
        <td>{{ terminZLekarzem.idLekarza }}</td>
        <td>{{ terminZLekarzem.name }}</td>
        <td>{{ terminZLekarzem.surname }}</td>
        <td>{{ terminZLekarzem.specs }}</td>
         <!-- <td>{{ terminZLekarzem.cities }}</td> spr, tak bylo, zle -->
        <td>{{ terminZLekarzem.miasto }}</td> 
      </tr>
    </tbody>
  </table>

  <h1 class="text-center">
    Tabela lekarzy
    <button (click)="showLekarzeTab = !showLekarzeTab" class="btn btn-info">{{ showLekarzeTab === true ? 'ukryj' : 'pokaz' }}</button>
  </h1>
  <table class="table table-striped" *ngIf="lekarzeTab.length > 0 && showLekarzeTab === true">
    <thead>
      <tr>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Specjalizacje</th>
        <th>Miasta</th>
        <th>Id Lekarza</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lekarz of lekarzeTab">
        <td>{{ lekarz.name }}</td>
        <td>{{ lekarz.surname }}</td>
        <td>{{ lekarz.specs }}</td>
        <td>{{ lekarz.cities }}</td>
        <td>{{ lekarz.id }}</td>
      </tr>
    </tbody>
  </table>

  <h1 class="text-center">
    Tabela terminow
    <button (click)="showTerminyTab = !showTerminyTab" class="btn btn-info">{{ showTerminyTab === true ? 'ukryj' : 'pokaz' }}</button>
  </h1>
  <table class="table table-striped" *ngIf="terminyTab.length > 0 && showTerminyTab === true">
    <thead>
      <tr>
        <th>Data</th>
        <th>Start</th>
        <th>Stop</th>
        <th>Wolny</th>
        <th>Pacjent</th>
        <th>Powod</th>
        <th>Id Lekarza</th>
        <th>Id</th>
        <th>Miasto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let termin of terminyTab">
        <td>{{ termin.data }}</td>
        <td>{{ termin.start }}</td>
        <td>{{ termin.stop }}</td>
        <td>{{ termin.wolny }}</td>
        <td>{{ termin.pacjent }}</td>
        <td>{{ termin.powod }}</td>
        <td>{{ termin.idLekarza }}</td>
        <td>{{ termin.id }}</td>
        <td>{{ termin.miasto }}</td>
      </tr>
    </tbody>
  </table>

</div>
