<p>
  testowy-grafik works!
</p>

<hr>
<div class="row">
  <div class="col-sm-12">
     <table *ngIf="terminyTab.length > 0" class="table table-striped my-table"> 
      <thead>
        <tr>
          <th>Id</th>
          <th>Data</th>
          <th>Godzina rozpoczecia</th>
          <th>Godzina zakonczenia</th>
          <th>Termin wolny/zajety?</th>
          <th>Info o pacjencie</th>
          <th>Powod wizyty</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let grafik of terminyTab"> 
          <td>{{ grafik.id }}</td>
          <td>{{ grafik.data }}</td>
          <td>{{ grafik.start }}</td>
          <td>{{ grafik.stop }}</td>
          <td>{{ grafik.wolny }}</td>
          <td>{{ grafik.pacjent }}</td>
          <td>{{ grafik.powod }}</td>
        </tr>
      </tbody>
    </table>
    
    <div *ngIf="terminyTab.length == 0">
      <p>Brak terminow w bazie</p>
    </div>
  </div>
</div>