<p>
  testowy works!
  testowy works!
  testowy works!
  testowy works!
  testowy works!
  testowy works!
  testowy works!
  testowy works!
  testowy works!
  testowy works!
  testowy works!
  testowy works!
  testowy works!
  testowy works!
  testowy works!
  testowy works!
  testowy works!
  testowy works!
  testowy works!
  testowy works!
  testowy works!
  testowy works!
  testowy works!
  testowy works!
</p>

<div class="row">
  <div class="col-sm-12">
    <table *ngIf="doctorsTab.length > 0" class="table table-striped my-table">
      <thead>
        <tr>
          <th>doktor id</th>
          <th>Imie</th>
          <th>Nazwisko </th>
          <th>Specjalizacja</th>
          <th>Sprawdź grafik</th>
          <th>Akcje</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lekarz of doctorsTab; let i = index">
          <td>{{ lekarz.id }} | angularIndex = {{ i }}</td>
          <td>{{ lekarz.name }}</td>
          <td>{{ lekarz.surname }}</td>
            <td>{{ lekarz.spec }}</td> 
          <td> Tu bedzie button grafik </td>
          <td>
            <button class="btn">Edytuj</button>
            <button (click)="usunLekarza(lekarz)" class="btn">Usun</button>
          </td>
        </tr>
      </tbody>
    </table>
    
    <div class="no-doctors-info" *ngIf="doctorsTab.length == 0">
      <p>Brak lekarzy w bazie</p>
    </div>
  </div>
</div>

<p>SERWER TEST</p>
<button (click)=loadGetData()>Test GET</button>
<p>Wynik: {{ getData }}</p>